
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid text-center">
    <!-- Ekranı tam kaplamak ve içeriği ortalamak için container-fluid ve text-center kullanımı -->
    <br />
    <br />
    <h4 style="margin-top: 20px;">Yeni Kullanıcı Ekleme Sayfası</h4>
    <br />
    <form method="post" class="form-control">
        <br />
        <br />
        <input type="text" name="KullaniciAdi" class=" form-control" placeholder="Kullanıcı Adı giriniz..." />
        <br />
        <input type="text" name="Sifre" class=" form-control" placeholder="Şifrenizi giriniz..." />
        <br />
        <button class="btn btn-info btn-lg btn-block">Kaydet</button>
    </form>
</div>


